.navbar {
      margin-bottom: 50px;
      border-radius: 0;
}
    
.jumbotron {
      margin-bottom: 0;
}
   
 .footer {
      background-color: #f2f2f2;
      padding: 25px;
}
.modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
}
.modal-footer {
      background-color: #f9f9f9;
}
.margin_top {
      margin-top: 20px;
}
.margin_bottom {
      margin-bottom: 60px;
}